<div class="container">
  <h1>{{ movie.title }}</h1>
  <div class="row">
    <div class="col-4">
      <img src="http://image.tmdb.org/t/p/w342/{{movie.poster}}" class="mw-100" alt="">
    </div>
    <div class="col-8">
      <p><b>Date de sortie :</b> {{movie.date}}</p>
      <p><b>Description :</b> {{ movie.summary }}</p>
      <p><b>Acteurs :</b></p>
      <div class="album">
        <div class="row">
          <div class="col-md-2" *ngFor="let movieCast of movieCasts">
            <img class="img-thumbnail" src="https://image.tmdb.org/t/p/w185//{{ movieCast.profile_path }}"
              alt="image acteur">
            <p>{{ movieCast.name }}</p>
            <hr>
            <span><i>{{ movieCast.character }}</i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group style="margin-top: 40px">
    <mat-tab label="Séances">
      <div class="sceance-container">
        <app-sceance-container routerLinkActive="active" [lessceances]="sceances"></app-sceance-container>
      </div>
    </mat-tab>
    <mat-tab label="Bande annonce">
      <app-carousel-video></app-carousel-video>
    </mat-tab>
  </mat-tab-group>
</div>