<form class="cinema-add-form" [formGroup]="editCinemaForm" enctype="multipart/form-data">
  <h1 mat-dialog-title>Modifier le Cinéma : {{ cinema.name }}</h1>
  <div mat-dialog-content>
    <div class="dialog-container">
      <input type="hidden" formControlName="id">
      <mat-form-field class="cinema-add-full-width">
        <input matInput placeholder="Nom du cinéma" formControlName="name">
      </mat-form-field>
      <mat-form-field class="cinema-add-full-width">
        <input matInput placeholder="Adresse du cinéma" formControlName="adress">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Cinéma" formControlName="signboard">
          <mat-option *ngFor="let signboard of signboards" [value]="signboard.id">
            {{signboard.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onEdit()">Modifier</button>
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Annuler</button>
  </div>
</form>