<form class="room-add-form" [formGroup]="addRoomForm" enctype="multipart/form-data">
  <h1 mat-dialog-title>Ajouter une salle</h1>
  <div mat-dialog-content>
    <div class="dialog-container">
      <mat-form-field class="room-add-full-width">
        <input matInput placeholder="Nom de la salle" formControlName="name">
      </mat-form-field>
      <mat-form-field class="room-add-full-width">
        <input matInput placeholder="Plan" formControlName="blueprint">
      </mat-form-field>
      <mat-form-field class="room-add-full-width">
        <input matInput type="number" placeholder="Nombre de place" formControlName="placelenght">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Cinéma" formControlName="cinema">
          <mat-option *ngFor="let cinema of cinemas" [value]="cinema.id">
            {{cinema.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Technologie" formControlName="techno">
          <mat-option *ngFor="let techno of technos" [value]="techno.id">
            {{techno.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onAdd()">Ajouter</button>
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Annuler</button>
  </div>
</form>