<form class="signboard-add-form" [formGroup]="editSignboardForm" enctype="multipart/form-data">
  <h1 mat-dialog-title>Modifier l'enseigne : {{ signboard.name }}</h1>
  <div mat-dialog-content>
    <div class="dialog-container">
      <input type="hidden" formControlName="id">
      <mat-form-field class="signboard-add-full-width">
        <input matInput placeholder="Nom de l'enseigne" formControlName="name">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onEdit()">Modifier</button>
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Annuler</button>
  </div>
</form>