<h1 mat-dialog-title>Ajouter un utilisateur</h1>
<div mat-dialog-content>
  <div class="dialog-container">
    <mat-form-field>
      <input matInput placeholder="Nom" [(ngModel)]="data.nom" name="lastname" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Prénom" [(ngModel)]="data.prenom" name="firstname" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mot de passe" [(ngModel)]="data.password" name="password" required>
    </mat-form-field>

    <mat-slide-toggle (change)="isAdmin($event)">Administration</mat-slide-toggle>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onAdd()">Ajouter</button>
  <button mat-raised-button (click)="closeDialog()" color="warn">Annuler</button>
</div>