<div class="blueprint-container">
    <div *ngFor="let range of jsonBlueprint" class="blueprint-ligne">
        <div class="rangeid">{{range['@attributes'].id}}</div>
        <div *ngFor="let oneplace of range.place" class="seat" [attr.data-type]="oneplace['@attributes'].type">
            <div *ngIf="oneplace['@attributes'].type == 0" class="couloir-placeholder"></div>
            <mat-icon *ngIf="oneplace['@attributes'].type == 1">event_seat</mat-icon>
            <mat-icon *ngIf="oneplace['@attributes'].type == 2">accessible</mat-icon>
        </div>
    </div>   
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="confirmBlueprintEdit()">Modifier</button>
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Annuler</button>
</div>