::ng-deep .seat{
    display: inline;
    cursor: pointer!important;
}

::ng-deep .couloir-placeholder{
    height: 24px;
    width: 24px;
    display: inline-block;
    background-color: lightgray;
}

::ng-deep .blueprint-container{
    text-align: center;
}

::ng-deep .rangeid{
    width: 25px;
    margin-left: -50px;
    display: inline-block;
}