<button mat-flat-button style="background-color: green; color: white; margin-left: 20px"
  (click)="openCinemaAddDialog()">
  Ajouter un cinéma</button>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let cinema"> {{ cinema.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nom du cinéma </mat-header-cell>
    <mat-cell *matCellDef="let cinema"> {{ cinema.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="adress">
    <mat-header-cell *matHeaderCellDef> Adresse du cinéma </mat-header-cell>
    <mat-cell *matCellDef="let cinema"> {{cinema.adress}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="signBoard">
    <mat-header-cell *matHeaderCellDef> Enseigne associée </mat-header-cell>
    <mat-cell *matCellDef="let cinema"> {{cinema.signboard.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let cinema">
      <button mat-button (click)="openCinemaEditDialog(cinema.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="deleteCinema(cinema.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<div *ngIf="!dataSource.filteredData.length" class="empty-datatable">Liste vide</div>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>