<div class="blueprint-container">
    <div *ngFor="let range of jsonBlueprint" class="blueprint-ligne">
        <div class="rangeid">{{range['@attributes'].id}}</div>
        <div *ngFor="let oneplace of range.place" class="seat"
            (click)="seatClicked(oneplace['@attributes'].id, range['@attributes'].id, oneplace['@attributes'].type)"
            [class.selected]="selectedPlace[oneplace['@attributes'].id]">
            <div *ngIf="oneplace['@attributes'].type == 0" class="couloir-placeholder"></div>
            <mat-icon *ngIf="oneplace['@attributes'].type == 1">event_seat</mat-icon>
            <mat-icon *ngIf="oneplace['@attributes'].type == 2">accessible</mat-icon>
        </div>
    </div>
</div>