.seat{
    display: inline;
    cursor: pointer!important;
}

.seat:hover{
    color: green;
}

.couloir-placeholder{
    height: 24px;
    width: 24px;
    display: inline-block;
    // background-color: grey;
}

.selected{
    color: green;
}

.blueprint-container{
    text-align: center;
}
.rangeid{
    width: 25px;
    margin-left: -50px;
    display: inline-block;
}