<mat-card class="movie-card" [routerLink]="['detail', movie.id]">
  <mat-card-header style="height: 70px">
    <mat-card-title class="text-center">{{movie.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="http://image.tmdb.org/t/p/w342/{{movie.poster}}">
</mat-card>