<button mat-flat-button style="background-color: green; color: white; margin-left: 20px" (click)="openRoomAddDialog()">
  Ajouter une salle</button>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let room"> {{ room.id }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nom de la salle </mat-header-cell>
    <mat-cell *matCellDef="let room"> {{ room.name }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="placelenght">
    <mat-header-cell *matHeaderCellDef> Nb place </mat-header-cell>
    <mat-cell *matCellDef="let room"> {{room.placelenght}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cinema">
    <mat-header-cell *matHeaderCellDef> Cinéma associé </mat-header-cell>
    <mat-cell *matCellDef="let room"> {{room.cinema.name}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="techno">
    <mat-header-cell *matHeaderCellDef> Technologie </mat-header-cell>
    <mat-cell *matCellDef="let room"> {{room.techno.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let room">
      <button mat-button (click)="openPlanEditDialog(room.blueprint, room.id)">
        Editer le plan
      </button>
      <button mat-button (click)="openRoomEditDialog(room.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="deleteUser(room.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<div *ngIf="!dataSource.filteredData.length" class="empty-datatable">Liste vide</div>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>