<div class="container">
  <div class="row movie-detail">
    <div class="col-2">
      <img src="http://image.tmdb.org/t/p/w342//{{ sceance.movie.poster }}" class="mw-100" alt="">
    </div>
    <div class="col d-flex align-items-center">
      <div>
        <p class="mat-title">
          {{sceance.movie.title}}
        </p>
        <p><span class="mat-title">{{ sceance.room.cinema.name }}</span> : {{ sceance.room.cinema.adress }}</p>
        <p><span class="mat-title">{{ sceance.date | date:'shortTime' }} {{ sceance.date | date:'MMMM d, y' }}</span>
          {{sceance.room.techno.name}}</p>
      </div>
    </div>
  </div>
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Veuillez sélectionner une place</ng-template>
      <div class="jumbotron">
        <app-seatmap></app-seatmap>
      </div>
      <div>
        <button mat-button matStepperNext (click)="onNext()">Suivant</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Choisir le tarif de(s) place(s)</ng-template>
        <form [formGroup]="rateForm">
          <p *ngFor="let place of tmpPlace">
            <span class="placename">{{ place }}</span>
            <mat-form-field>
              <mat-select placeholder="Veuillez faire un choix" formControlName="price">
                <mat-option *ngFor="let rate of rates" value="{{ rate.price }}">{{ rate.name }} à
                  {{ rate.price | currency: 'EUR':'symbol':'':'fr-fr' }}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>Prix total de la commande : <span></span></p>
        </form>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext (click)="onPay(this.seatmap.selectedPlace)">Payer</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Résumer de la commande</ng-template>
      Commande effectué
      <div>
        <button mat-button [routerLink]="['/']">Retour à l'accueil</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>