<h1 mat-dialog-title>Se connecter</h1>
<div mat-dialog-content>
  <div class="dialog-container">
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="login" [formControl]="emailFormControl" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Entrez une adresse email valide !
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Une adresse email est <strong>requise</strong> !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
        required>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Mot de passe <strong>requis</strong>
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="logIn()">Se connecter</button>
  <button mat-raised-button (click)="closeDialog()" color="warn">Annuler</button>
</div>