.empty-datatable {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color:rgb(90, 90, 90);
    background-color: rgb(218, 218, 218);
  }

mat-header-cell:first-of-type {
    padding-left: 10px;
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0px; 
}

// .btn_remove_reservation
// {
//     background-color: rgb(192, 192, 192);
// }