<div class="container">
	<div class="row">
		<div class="col-4">
			<h2 class="text-center">Infos</h2>
			<mat-list>
				<mat-list-item>Nom de compte : {{account_name}}</mat-list-item>
				<mat-divider class="mb-3"></mat-divider>
				<mat-list-item>Prénom : {{surname}}</mat-list-item>
				<mat-divider class="mb-3"></mat-divider>
				<mat-list-item>Nom : {{name}}</mat-list-item>
			</mat-list>
			<button mat-raised-button class="mt-4" (click)="OpenResetPass()">Changer de mot de passe</button>
		</div>
		<div class="col-8">
			<h2 class="text-center">Historique des commandes</h2>
			<h4 class="text-center mt-3">Commandes en cours</h4>
			<div class="mat-elevation-z8 data-table">
				<mat-table #table [dataSource]="dataSource" aria-label="Commandes">
					<ng-container matColumnDef="id">
						<mat-header-cell *matHeaderCellDef>id</mat-header-cell>
						<mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
					</ng-container>
			
					<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef>date</mat-header-cell>
							<mat-cell *matCellDef="let row">{{row.date}}</mat-cell>
					</ng-container>
			
					<ng-container matColumnDef="titreFilm">
							<mat-header-cell *matHeaderCellDef>Titre du film</mat-header-cell>
							<mat-cell *matCellDef="let row">{{row.sceance.movie.title}}</mat-cell>
					</ng-container>
			
					<ng-container matColumnDef="prixTotal">
							<mat-header-cell *matHeaderCellDef>Prix de la réservation</mat-header-cell>
							<mat-cell *matCellDef="let row">{{row.prixTotal}} Euros</mat-cell>
					</ng-container>

					<ng-container matColumnDef="placeTotal">
						<mat-header-cell *matHeaderCellDef>Nombre de places réservée(s)</mat-header-cell>
						<mat-cell *matCellDef="let row">{{row.placeTotal}}</mat-cell>
					</ng-container>

					<!-- <ng-container matColumnDef="action">
						<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
						<mat-cell *matCellDef="let user">
						  <button mat-button class="btn_remove_reservation" (click)="TODO">
							<mat-icon>delete</mat-icon>
						  </button>
						</mat-cell>
					  </ng-container> -->

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
				</mat-table>
				<div *ngIf="!dataSource.filteredData.length" class="empty-datatable">Aucune commande en cours...</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="offset-4 col-8">
			<h4 class="text-center">Commandes précedentes</h4>
			<div class="mat-elevation-z8 data-table">
				<mat-table #table [dataSource]="dataSourceBefore" aria-label="Commandes">
					<ng-container matColumnDef="id">
						<mat-header-cell *matHeaderCellDef>id</mat-header-cell>
						<mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
					</ng-container>
			
					<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef>date</mat-header-cell>
							<mat-cell *matCellDef="let row">{{row.date}}</mat-cell>
					</ng-container>
			
					<ng-container matColumnDef="titreFilm">
							<mat-header-cell *matHeaderCellDef>Titre du film</mat-header-cell>
							<mat-cell *matCellDef="let row">{{row.sceance.movie.title}}</mat-cell>
					</ng-container>
			
					<ng-container matColumnDef="prixTotal">
							<mat-header-cell *matHeaderCellDef>Prix de la réservation</mat-header-cell>
							<mat-cell *matCellDef="let row">{{row.prixTotal}} Euros</mat-cell>
					</ng-container>

					<ng-container matColumnDef="placeTotal">
						<mat-header-cell *matHeaderCellDef>Nombre de places réservée(s)</mat-header-cell>
						<mat-cell *matCellDef="let row">{{row.placeTotal}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsBefore"></mat-header-row>
					<!-- <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row> -->
					<mat-row *matRowDef="let row; columns:displayedColumnsBefore;"></mat-row>
				</mat-table>
				<div *ngIf="!dataSourceBefore.filteredData.length" class="empty-datatable">Aucune commandes dans l'historique...</div>
			</div>
		</div>
	</div>
</div>
