<h1 mat-dialog-title>S'inscrire</h1>
<div mat-dialog-content>
  <div class="dialog-container">
    <mat-form-field>
      <input matInput placeholder="Prénom" [(ngModel)]="user.prenom" [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="firstNameFormControl.hasError('required')">
        Le prénom est <strong>requis</strong> !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nom" [(ngModel)]="user.nom" [formControl]="lastNameFormControl" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="lastNameFormControl.hasError('required')">
        Le nom est <strong>requis</strong> !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="user.login" [formControl]="emailFormControl" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Entrez une adresse email valide !
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Une adresse email est <strong>requise</strong> !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" [(ngModel)]="user.password" type="password" placeholder="Mot de passe"
        [formControl]="passwordFormControl" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Mot de passe <strong>requis</strong>
      </mat-error>
    </mat-form-field>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="register()" color="primary">Se connecter</button>
  <button mat-raised-button (click)="closeDialog()" color="warn">Annuler</button>
</div>