<div class="mat-elevation-z8 data-table">
    <mat-table #table [dataSource]="data" aria-label="Commandes">

        <ng-container matColumnDef="idReservation">
            <mat-header-cell *metHeaderCellDef mat-sort-header>idReservation</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.idReservation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
                <mat-header-cell *metHeaderCellDef mat-sort-header>date</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.date}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="titreFilm">
                <mat-header-cell *metHeaderCellDef mat-sort-header>Titre du film</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.titreFilm}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="prix">
                <mat-header-cell *metHeaderCellDef mat-sort-header>Prix de la réservation</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.prix}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
    </mat-table>
</div>