<form [formGroup]="addSceanceForm" enctype="multipart/form-data">
  <h1 mat-dialog-title>Ajouter une séance</h1>
  <div mat-dialog-content>
    <div class="dialog-container">
      <input placeholder="Date et heure de la séance" type="datetime-local" formControlName="date">
      <mat-form-field>
        <input matInput placeholder="Choisir un film" [matAutocomplete]="auto" formControlName='movie'>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let movie of filteredMovies" [value]="movie.id">
            <img aria-hidden src="http://image.tmdb.org/t/p/w342/{{movie.poster}}" height="25">
            <span>{{ movie.title }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <mat-form-field>
        <mat-select placeholder="Choisir la salle" formControlName="room">
          <mat-option *ngFor="let room of rooms" [value]="room.id">
            {{room.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onAdd()">Ajouter</button>
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Annuler</button>
  </div>
</form>
