<mat-toolbar color="primary">
  <a [routerLink]="['/']" style="color: white; text-decoration: none">{{ headerTitle }}</a>
  <span class="example-spacer"></span>
  <div *ngIf="isAdmin">
    <button mat-button routerLink="/users" routerLinkActive="active">Utilisateurs</button>
    <button mat-button routerLink="/rooms" routerLinkActiv="active">Salles</button>
    <button mat-button routerLink="/cinemas" routerLinkActiv="active">Cinémas</button>
    <button mat-button routerLink="/sceances" routerLinkActive="active">Séances</button>
    <button mat-button routerLink="/signboards" routerLinkActive="active">Enseignes</button>
  </div>
  <button mat-raised-button color="primary" (click)="openLoginDialog()" *ngIf="!isLogged">Se Connecter</button>
  <button mat-raised-button (click)="openRegisterDialog()" *ngIf="!isLogged">S'inscrire</button>
  <button mat-raised-button color="primary" routerLink="/users/moncompte" routerLinkActiv="active" *ngIf="isLogged">Mon
    compte</button>
  <button mat-raised-button (click)="logoff()" *ngIf="isLogged">Se deconnecter</button>
</mat-toolbar>