<button mat-flat-button style="background-color: green; color: white; margin-left: 20px"
  (click)="openSignBoardAddDialog()">
  Ajouter une enseigne</button>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let signboard"> {{ signboard.id }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nom de l'enseigne </mat-header-cell>
    <mat-cell *matCellDef="let signboard"> {{ signboard.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let signboard">
      <button mat-button (click)="openSignBoardEditDialog(signboard.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="deleteSignBoard(signboard.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<div *ngIf="!dataSource.filteredData.length" class="empty-datatable">Liste vide</div>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>