<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <app-movie-card class="col-md-3" *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>