<div class="container" style="width: 80%; height: 80%; margin-top: 20px">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let movieVideo of movieVideos">
        <iframe id="player" type="text/html" class="col" height="480"
          [src]="'http://www.youtube.com/embed/' + movieVideo.key + '?enablejsapi=1' | bypasssecurity: 'resourceUrl'"
          frameborder="0"></iframe>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
