<h1 mat-dialog-title>Modification de mot de passe</h1>
<div mat-dialog-content>
  <form class="dialog-container" [formGroup]="ResetPassGroup">
    <mat-form-field>
      <input matInput type="password" placeholder="Ancien mot de passe" formControlName="oldpassword" required>
      <mat-error>
        Mot de passe <strong>requis</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Nouveau mot de passe"
      formControlName="newPassword1" required>
      <mat-error>
        Mot de passe <strong>requis</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Retaper le mot de passe"
        formControlName="newPassword2">
        <mat-error>
			Merci de ressaisir une nouvelle fois votre mot de passe
		</mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit()" color="primary">Valider</button>
  <button mat-raised-button (click)="closeDialog()" color="warn">Annuler</button>
</div>