.summary {
  width: 9rem;
  height: 4rem;
  text-decoration: none;
}

.summary p {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 1.10rem;
}

.summary .techno {
  margin-top: -0.35rem;
  font-size: .80rem;
}

::ng-deep .mat-expansion-panel-body > div{
  margin: 0px 10px;
  display: inline-block!important;
}

