<mat-accordion>
  <div *ngFor="let cinema of lessceances">
    <!-- <div *ngFor="let sceance of sceances">
      <div *ngIf="sceance.room.cinema.id == cinema.id"> -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{cinema.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{cinema.adress}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let sceance of cinema.seances" >
            <a mat-raised-button class="summary" [routerLink]="['/booking', sceance.id]">
              <p>{{sceance.date | date:'shortTime'}}</p>
              <span class=" badge badge-secondary techno">{{sceance.room.techno.name}}</span>
            </a>
          </div>
        </mat-expansion-panel>
      <!-- </div>
    </div> -->
  </div>
</mat-accordion>