<button mat-flat-button style="background-color: green; color: white; margin-left: 20px"
  (click)="openSceanceAddDialog()">
  Ajouter une séance</button>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let sceance"> {{ sceance.id }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="movie">
    <mat-header-cell *matHeaderCellDef> Nom du film </mat-header-cell>
    <mat-cell *matCellDef="let sceance"> {{ sceance.movie.title }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date de la séance </mat-header-cell>
    <mat-cell *matCellDef="let sceance"> {{sceance.date}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="room">
    <mat-header-cell *matHeaderCellDef> Salle associé </mat-header-cell>
    <mat-cell *matCellDef="let sceance"> {{sceance.room.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let sceance">
      <button mat-button (click)="openSceanceEditDialog(sceance.id)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<div *ngIf="!dataSource.filteredData.length" class="empty-datatable">Liste vide</div>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
