/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
  font-family: Roboto;
}

.container {
  /* On ajoute une marge sur les cotés de l'écran */
  padding-right: 30px;
  padding-left: 30px;

  /* Et on centre */
  margin-right: auto;
  margin-left: auto;
}
