<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav class="app-sidenav mat-elevation-z10" #sidenavright position="end" mode="side">
    <mat-toolbar color="primary">
      Paramètres
    </mat-toolbar>

    <form #myForm="ngForm" (submit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Nom" [(ngModel)]="dataRow.lastname" name="lastname" value="{{dataRow.lastname}}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Prénom" [(ngModel)]="dataRow.firstname" name="firstname"
          value="{{dataRow.firstname}}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Mot de passe" [(ngModel)]="dataRow.password" name="password"
          value="{{dataRow.password}}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Grade" [(ngModel)]="dataRow.grade" name="grade" value="{{dataRow.grade}}">
      </mat-form-field>
      <button mat-button type="submit">Envoyer</button>
    </form>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <div class="wrapper">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
      </mat-form-field>
      <button mat-flat-button style="background-color: green; color: white; margin-left: 20px"
        (click)="openUserDialog()">
        Ajouter un utilisateur</button>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
        </ng-container>

        <!-- FirstName Column -->
        <ng-container matColumnDef="lastname">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.prenom }} </mat-cell>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.nom}} </mat-cell>
        </ng-container>

        <!-- Rank Column -->
        <ng-container matColumnDef="grade">
          <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
          <mat-cell *matCellDef="let user"><span *ngIf="user.rank == 1">Utilisateur</span><span *ngIf="user.rank == 50">Gérant</span><span *ngIf="user.rank == 100">SuperAdmin</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-button (click)="rowClicked(user, $event)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="deleteUser(user.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <div *ngIf="!dataSource.filteredData.length" class="empty-datatable">Liste vide</div>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>

</mat-sidenav-container>